<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-活动列表</title>
    <head th:insert="~{import :: head}"></head>
</head>
<style>
    li:hover{
        cursor: pointer;
    }
</style>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:insert="~{ classnav::classhead}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white">
            <div class="row" style="height: 150px">
                <div class="col-7 pr-0 offset-2">
                    <input type="text" class="form-control mt-5 mr-0" placeholder="输入活动关键字进行搜索" id="text">
                </div>
                <div class="col-3 pl-0 mt-5">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-group" id="newList" >
                        <li class="mt-1 list-group-item" th:each="activity:${activitys}">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="/img/logo.png" alt="" class="mr-3 img-thumbnail mt-2 ml-2" width="60" height="60">
                                </div>
                                <div class="media-body">
                                    <div >
                                        <h5 class="d-inline-block">
                                            <span class="badge badge-success" th:if="${activity.status}==1">进行中</span>
                                            <span class="badge badge-secondary" th:if="${activity.status}==0">已结束</span>
                                        </h5>
                                        <h5 class="mt-0 d-inline-block" th:text="${activity.activityName}">
                                            活动名称
                                        </h5>
                                    </div>
                                    <small th:text="'开始时间:'+${#dates.format(activity.startTime,'yyyy-MM-dd')}+'|'"></small>
                                    <small th:text="'结束时间:'+${#dates.format(activity.endTime,'yyyy-MM-dd')}+'|'"></small>
                                    <small th:text="'共'+${activity.sumPati}+'人作答|'"></small>
                                    <small th:text="'共'+${activity.totalItem}+'道题目'"></small>
                                </div>
                            </div>
                            <a th:href="@{'/checkActivity/'+${cid}+'/'+${teacherid}+'/'+${activity.actId}+'/'+${activity.status}+'/'+${activity.actType}}"></a>
                        </li>
                    </ul>
                    <div class="text-center"  th:if="${showImg}">
                        <div class="d-flex justify-content-center">
                            <img src="/img/noactivitys.png" alt="" style="width: 350px;height: 350px">
                        </div>
                        <h5>该班课还没有任何活动</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script th:inline="javascript">
    $(function(){
        /* 单机li进行页面跳转 */
        $("#newList li").click(function(){
            /*当前标签下的a标签*/
            var obj = $(this).children("a");
            /*获取第一个a标签，进行跳转*/
            window.location.href=$(obj[0]).attr("href");
        });

        $("#text").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#newList li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })
    
</script>
</html>