<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-班级活动</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:insert="~{classnav::classhead}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white">
            <div class="row">
                <div class="col-12">
                    <h4 class="mt-3" th:text="${activityName}">活动名称</h4>
                    <span id="message" class="text-danger"></span>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-group" id="list">
                        <li class="list-group-item" th:each="selection:${selections}">
<!--                            单选-->
                            <div th:if="${selection.oneOrMore}==1">
                                <h5>
                                    <span th:text="${selection.selNum}">题号</span>
                                    <span class="ml-2">单选</span>
                                    <span th:text="${selection.selId}" class="sel_id" hidden="hidden"></span>
                                </h5>
                                <p th:text="${selection.selContent}">题干</p>
                                <div>
                                    <img th:src="@{${selection.imgUrl}}" style="max-height: 250px;max-width: 350px" alt="">
                                </div>
                               <div class="btn-group-toggle btn-group-vertical mt-2" data-toggle="buttons">
                                   <label class="btn btn-outline-primary text-left" th:if="${selection.a}!=''">
                                       <input type="radio" value="A">
                                       <span>A:</span><span th:text="${selection.a}">A:选项A</span>
                                   </label>
                                   <label class="btn btn-outline-primary text-left" th:if="${selection.b}!=''">
                                       <input type="radio" value="B">
                                       <span>B:</span><span th:text="${selection.b}">B:选项B</span>
                                   </label>

                                   <label class="btn btn-outline-primary text-left" th:if="${selection.c}!=''">
                                       <input type="radio" value="C">
                                       <span>C:</span><span th:text="${selection.c}">C:选项C</span>
                                   </label>
                                   <label class="btn btn-outline-primary text-left" th:if="${selection.d}!=''">
                                       <input type="radio" value="D">
                                       <span>D:</span><span th:text="${selection.d}">D:选项D</span>
                                   </label>
                               </div>
                                <div>
                                    <a href="" data-toggle="modal" data-target="#shoucang">收藏题目</a>
                                </div>
                            </div>
<!--                            多选-->
                            <div th:if="${selection.oneOrMore}==2">
                                <h5>
                                    <span th:text="${selection.selNum}">题号</span>
                                    <span class="ml-2">多选</span>
                                    <span th:text="${selection.selId}" hidden="hidden" class="sel_id"></span>
                                </h5>
                                <p th:text="${selection.selContent}">题干</p>
                                <div>
                                    <img th:src="@{${selection.imgUrl}}" style="max-height: 250px;max-width: 350px" alt="">
                                </div>
                                <div class="btn-group-toggle btn-group-vertical mt-2" data-toggle="buttons">
                                    <label class="btn btn-outline-primary text-left" th:if="${selection.a}!=''">
                                        <input type="checkbox" value="A">
                                        <span>A:</span><span th:text="${selection.a}">A:选项A</span>
                                    </label>
                                    <label class="btn btn-outline-primary text-left" th:if="${selection.b}!=''">
                                        <input type="checkbox" value="B">
                                        <span>B:</span><span th:text="${selection.b}">B:选项B</span>
                                    </label>

                                    <label class="btn btn-outline-primary text-left" th:if="${selection.c}!=''">
                                        <input type="checkbox" value="C">
                                        <span>C:</span><span th:text="${selection.c}">C:选项C</span>
                                    </label>
                                    <label class="btn btn-outline-primary text-left" th:if="${selection.d}!=''">
                                        <input type="checkbox" value="D">
                                        <span>D:</span><span th:text="${selection.d}">D:选项D</span>
                                    </label>
                                    <div>
                                        <a href="" data-toggle="modal" data-target="#shoucang">收藏题目</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="width: 200px">提交</button>
                </div>
            </div>
        </div>
    </div>
<!--是否提交模态框-->
    <div class="modal fade" tabindex="-1" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    确认要提交吗?
                </div>
                <span id="submit_message" class="text-success ml-3"></span>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" id="cancel">取消</button>
                    <button class="btn btn-primary" id="sub_selections">确定</button>
                </div>
            </div>
        </div>
    </div>
<!--是否收藏-->
    <div class="modal fade" tabindex="-1" id="shoucang" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    确认要收藏题目吗?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(".navclass").click(function(){
        /*当前标签下的a标签*/
        var obj = $(this).children("a");
        /*获取第一个a标签，进行跳转*/
        window.location.href=$(obj[0]).attr("href");
    });
    $('#sub_selections').click(function () {
        $('#sub_selections').attr("disabled",true);
        $('#submit_message').html("数据提交中...");
        var selection=new Array();
        $('#list li').each(function () {
            var map={};
            map['selId']=parseInt($(this).find('.sel_id').text());
            var radio=$(this).find('input[type=radio]:checked').val();
            if(radio!=''&&radio!=null&&typeof (radio)!='undefined'){
                map['userSelect']=radio;
            }
            var userSelect="";
            $(this).find('input[type=checkbox]:checked').each(function () {
                userSelect+=$(this).val();
                map['userSelect']=userSelect;
            });
            selection.push(map);
        });
        $.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //dataType:"json",
            //请求地址
            url : "/submitSelection/"+[[${cid}]]+"/"+[[${teacherid}]]+"/"+[[${actId}]],
            //数据，json字符串
            data : JSON.stringify(selection),
            //请求成功
            success : function(result) {
                var data=$.parseJSON(result);
                if (data.message){
                    window.location.href="/ranking/"+[[${cid}]]+"/"+[[${teacherid}]]+"/"+[[${actId}]];
                }else {
                    $('#cancel').trigger('click');
                    $('#message').html("未知异常,创建活动失败,请稍后重试!");
                    $('#submit_message').html("");
                    $('#sub_selections').attr("disabled",false);
                }
            },
            //请求失败，包含具体的错误信息
            error : function(e){
                $('#cancel').trigger('click');
                $('#message').html("发送请求失败,请检查您的网络状态!");
                $('#submit_message').html("");
                $('#sub_selections').attr("disabled",false);
            }
        });
    });

</script>
</html>