<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-修改密码</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="height: 175px"></div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h5>密码修改</h5>
                            <p class="text-danger" th:if="${message}">用户名或密码错误,修改失败!</p>
                        </div>
                        <div class="col-12">
                            <form action="/submitPassword" onsubmit="return vertify()" id="form" method="post">
                                <input type="text" placeholder="账号" name="email" class="form-control mt-3">
                                <input type="password" placeholder="旧密码" name="oldPassword" class="form-control mt-3">
                                <input type="password" placeholder="新密码" id="new_password" name="newPassword" class="form-control mt-3">
                            </form>
                        </div>
                        <div class="col-12 d-flex justify-content-between mt-3">
                            <button class="btn btn-secondary" style="width: 100px">返回</button>
                            <button class="btn btn-primary" style="width: 100px" type="submit" form="form">修改</button>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</body>
<script>
    function vertify() {
        var regpassword=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
        var newpassword=$('#new_password').val();
        if (!regpassword.test(newpassword)){
            alert("密码格式不正确!");
            return false;
        }
        return true;
    }
</script>
</html>