<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-活动列表</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:fragment="classhead">

        <div class="container-fluid">
            <div class="row" style="height: 150px">
                <!--            卡片组-->
                <div class="card">
                    <img src="/img/mainclass.jpg" class="card-img-top" style="height: 150px">
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-md-3 col-4 d-flex justify-content-end">
                                <img src="/img/logo.png" class="img-thumbnail" style="width: 120px;height: 120px" id="img">
                            </div>
                            <div class="col-md-9 col-8">
                                <div class="row" style="height: 50px">
                                    <h5 class="mt-3" id="class_name"></h5>
                                </div>
                                <div class="row" style="height: 35px">
                                    <small id="course_name"></small>
                                    <span hidden th:text="${cid}" id="cid"></span>
                                    <span hidden th:text="${teacherid}" id="teacherid"></span>
                                </div>
                                <div class="row" style="height: 35px">
                                    <button class="btn btn-primary" style="width: 100px;height: 35px" th:if="${session.user.getUid()} != ${teacherid}" data-toggle="modal" data-target="#stu_sign">签到</button>
                                    <div class="dropdown" th:if="${session.user.getUid()} == ${teacherid}">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="height: 35px">
                                            教师操作
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#" id="invite_link">班课邀请码</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign_in">发起签到</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#course_info">发布通知</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#create_activity">发起活动</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#up">上传资源</a>
                                            <a class="dropdown-item" href="#">导出学生平时成绩</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center bg-light" style="height: 50px">
                <div class="mt-2">
                    <ul class="nav nav-tabs" id="classnav">
                        <li class="nav-item navclass">
                            <a th:href="@{'/resources/'+${cid}+'/'+${teacherid}}" class="nav-link ziyuan" data-toggle="tab">资源</a>
                        </li>
                        <li class="nav-item navclass">
                            <a th:href="@{'/member/'+${cid}+'/'+${teacherid}+'/'+${session.user.uid}}" class="nav-link chengyuan" data-toggle="tab" data-target="#tab2">成员</a>
                        </li>
                        <li class="nav-item navclass">
                            <a th:href="@{'/activity/'+${cid}+'/'+${teacherid}}" class="nav-link huodong active" data-toggle="tab">活动</a>
                        </li>
                        <li class="nav-item navclass">
                            <a th:href="@{'/message/'+${cid}+'/'+${teacherid}+'/'+${teacherid}+'?redirect=1&click=0'}" class="nav-link xiaoxi" data-toggle="tab">消息</a>
                        </li>
                        <li class="nav-item navclass">
                            <a th:href="@{'/details/'+${cid}}" class="nav-link xiangqing" data-toggle="tab">详情</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button hidden data-toggle="modal" data-target="#invite_code" id="invite_button"></button>
        </div>
        <!--上传资源模态框-->
        <div class="modal fade" tabindex="-1" id="up" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="text" maxlength="30" class="form-control mb-2" placeholder="文件名称(选填)" id="file_name">
                        <input type="file" class="form-control file-loading" id="resource">
                        <span class="text-danger" id="resource_message"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" id="submit_cancel">取消</button>
                        <button class="btn btn-primary" id="submit_resource">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!--选择活动类型模态框-->
        <div class="modal fade" tabindex="-1" id="create_activity" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>请选择要发起的活动类型</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <a th:href="@{'/initdes/'+${cid}+'/'+${teacherid}}">
                            <button class="btn btn-primary">描述题</button>
                        </a>
                        <a th:href="@{'/initse/'+${cid}+'/'+${teacherid}}">
                            <button class="btn btn-primary">选择题</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
<!--        班课邀请码模态框-->
        <div class="modal fade" tabindex="-1" id="invite_code" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p id="show_invite_code"></p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
<!--        公告模态框-->
        <div class="modal fade" tabindex="-1" id="course_info" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="请输入标题" id="info_title">
                        <span class="text-danger" id="title_message"></span>
                        <textarea id="info_content" cols="30" rows="3" placeholder="请输入通知内容" class="form-control mt-2"></textarea>
                        <span class="text-danger" id="content_message"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" id="course_info_cancel">关闭</button>
                        <button class="btn btn-primary" id="submit_course_info">发布</button>
                    </div>
                </div>
            </div>
        </div>
<!--        学生签到模态框-->
        <div class="modal fade" tabindex="-1" id="stu_sign" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="请输入签到码" id="stu_code">
                        <span class="text-danger" id="stu_sign_message"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="sub_stu_code_close" data-dismiss="modal">关闭</button>
                        <button class="btn btn-primary" id="sub_stu_code">确定</button>
                    </div>
                </div>
            </div>
        </div>
<!--        发起签到模态框-->
        <div class="modal fade" tabindex="-1" id="sign_in" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="请输入签到码(只允许同时进行一次签到)" id="sign_code">
                        <span class="text-danger" id="sign_message"></span>
                        <input type="number" class="form-control mt-2" placeholder="签到得分(默认为1)" id="score">
                        <input type="number" class="form-control mt-2" placeholder="签到时长(默认5分钟),可手动结束签到" id="minute">
                        <span class="text-danger" id="minute_message"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" id="sign_close">关闭</button>
                        <button class="btn btn-primary" id="start_sign_in">开始签到</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $("#classnav li").click(function(){
                /*当前标签下的a标签*/
                var obj = $(this).children("a");
                /*获取第一个a标签，进行跳转*/
                window.location.href=$(obj[0]).attr("href");
            });
            $(document).ready(function() {
                $("#resource").fileinput({
                    showUpload: false,
                    dropZoneEnabled: false,
                    maxFileCount: 1,
                    mainClass: "input-group-lg",
                    //allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
                    showRemove :true,//显示一处按钮
                    language: 'zh', //设置语言
                    maxFileSize: 1024*10//文件大小
                });
                $.ajax({url:"/getClassInfo/"+[[${cid}]],success:function(result){
                        var data=$.parseJSON(result);
                        if (data.message){
                            if ($.trim(data.img)!='/img/cloud.png'){
                                $('#img').attr('src',data.img);
                            }
                            $('#class_name').html(data.className);
                            $('#course_name').html(data.courseName);
                        }
                    }});
            });
            $('#invite_link').click(function () {
                $.ajax({url:"/getInviteCode/"+[[${cid}]],success:function(result){
                    var data=$.parseJSON(result);
                    if (data.message){
                        $('#invite_button').trigger('click');
                        $('#show_invite_code').html('班课邀请码:'+data.inviteCode);
                    }
                }});
            });
            $('#sign_close').click(function () {
               $('#sign_message').html('');
            });
            $('#start_sign_in').click(function () {
                var sign_code=$('#sign_code').val();
                if (sign_code==''||sign_code==null||sign_code=='undefined'){
                    $('#sign_message').html("请输入签到码!");
                    return;
                }
                var score=parseInt($('#score').val());
                if (score==''||typeof(score)=='undefined'||score==null||isNaN(score)){
                    score=1;
                }
                var minute=parseInt($('#minute').val());
                if (minute == '' || typeof(minute) == 'undefined' || isNaN(minute) ){
                    minute=5;
                }
                var map={};
                map['signCode']=sign_code;
                map['score']=score;
                map['minute']=minute;
                $.ajax({url:"/checkSignIn/"+[[${cid}]]+"/"+[[${teacherid}]],
                    success:function(result){
                        var data=$.parseJSON(result);
                        if (data.message){
                            //没有进行中的签到活动，创建新签到
                            $.ajax({
                                //请求方式
                                type : "POST",
                                //请求的媒体类型
                                contentType: "application/json;charset=UTF-8",
                                //请求地址
                                url : "/createSignIn/"+[[${cid}]]+"/"+[[${teacherid}]],
                                //数据，json字符串
                                data : JSON.stringify(map),
                                //请求成功
                                success : function(result) {
                                    var data=$.parseJSON(result);
                                    if (data.message){
                                        //创建签到成功,进行页面跳转
                                        window.location.href="/signIn/"+[[${cid}]]+"/"+[[${teacherid}]];
                                    }
                                },
                                //请求失败，包含具体的错误信息
                                error : function(e){
                                }
                            });

                        } else {
                            //跳转到正在进行的签到页面
                            window.location.href="/signIn/"+[[${cid}]]+"/"+[[${teacherid}]];
                        }}
                    }
                );
            });
            $('#sub_stu_code').click(function () {
                var code=$('#stu_code').val();
                var map={};
                map['code']=code;
                $.ajax(
                    {
                        url:"/submitSignInCode/"+[[${cid}]]+"/"+[[${teacherid}]],
                        type:"POST",
                        contentType: "application/json;charset=UTF-8",
                        data : JSON.stringify(map),
                        success:function(result){
                            var data=$.parseJSON(result);
                            if (data.message){
                                //签到成功
                                window.location.href="/signIn/"+[[${cid}]]+"/"+[[${teacherid}]];
                            }else {
                                //签到失败
                                if (data.doubleSign){
                                    //重复签到
                                    $('#stu_sign_message').html("当前签到已完成，请勿重复签到!");
                                }
                                if (data.errCode){
                                    //签到码错误
                                    $('#stu_sign_message').html("签到码错误!");
                                }

                                if (data.signEnd){
                                    //签到已经结束
                                    $('#stu_sign_message').html("没有正在进行的签到!");
                                }
                            }
                        }
                    }
                );
            });
            $('#sub_stu_code_close').click(function () {
                $('#stu_sign_message').html("");
            });
            $('#submit_resource').click(function () {
                var fileName=$('#file_name').val();
                var resource=$('#resource').get(0).files[0];
                if (typeof (resource)=="undefined"){
                    $('#resource_message').html("文件不能为空");
                    return;
                }
                var map={};
                map['fileName']=fileName;
                var formData=new FormData();
                var fileNameData=JSON.stringify(map);
                formData.append('fileName',new Blob([fileNameData],{type: "application/json"}));
                formData.append('resource',resource);
                $.ajax({
                    //请求方式
                    type : "POST",
                    //请求的媒体类型
                    //contentType: "application/json;charset=UTF-8",
                    contentType: false,
                    //contentType: "multipart/form-data;;charset=UTF-8",
                    processData: false,
                    dataType:"json",
                    //请求地址
                    url : "/uploadResource/"+[[${cid}]]+"/"+[[${teacherid}]],
                    //数据，json字符串
                    data : formData,
                    //请求成功
                    success : function(result) {
                        if (result.message){
                            window.location.href="/resources/"+[[${cid}]]+"/"+[[${teacherid}]];
                        }
                        //var data=$.parseJSON(result);
                    },
                    //请求失败，包含具体的错误信息
                    error : function(e){
                    }
                });
                $(this).attr("disabled",true);
            });
            $('#submit_cancel').click(function () {
                $('#submit_resource').attr("disabled",false);
                $('#resource_message').html("");
            });
            $('#submit_course_info').click(function () {
                var info_title=$('#info_title').val();
                var info_content=$('#info_content').val();
                if (info_title=='') {
                    $('#title_message').html("此项不能为空");
                    return;
                }
                if (info_content==''){
                    $('#content_message').html("此项不能为空");
                    return;
                }
                var map={};
                map['infoTitle']=info_title;
                map['infoContent']=info_content;
                $.ajax({
                    //请求方式
                    type : "POST",
                    //请求的媒体类型
                    contentType: "application/json;charset=UTF-8",
                    //请求地址
                    url : "/createCourseInfo/"+[[${cid}]]+"/"+[[${teacherid}]],
                    //数据，json字符串
                    data : JSON.stringify(map),
                    //请求成功
                    success : function(result) {
                        var data=$.parseJSON(result);
                        if (data.message){
                            window.location.href="/message/"+[[${cid}]]+"/"+[[${teacherid}]]+'/'+[[${teacherid}]];
                        }
                        //var data=$.parseJSON(result);
                    },
                    //请求失败，包含具体的错误信息
                    error : function(e){
                    }
                });
            })
        </script>

    </div>

</body>

</html>