<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-活动列表</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:fragment="classhead">

        <div class="container-fluid">
            <div class="row" style="height: 150px">
                <!--            卡片组-->
                <div class="card">
                    <img src="img/mainclass.jpg"alt="" class="card-img-top" style="height: 150px">
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-md-3 col-4 d-flex justify-content-end">
                                <img src="img/logo.png" class="img-thumbnail" style="width: 120px;height: 120px" alt="">
                            </div>
                            <div class="col-md-9 col-8">
                                <div class="row" style="height: 50px">
                                    <h5 class="mt-3">院系班级</h5>
                                </div>
                                <div class="row"style="height: 35px">
                                    <small>班课名称</small>
                                </div>
                                <div class="row" style="height: 35px">
                                    <button class="btn btn-primary" style="width: 100px;height: 35px">签到</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center bg-light" style="height: 50px">
                <div class="mt-2">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="resources.html" class="nav-link ziyuan" data-toggle="tab">资源</a>
                        </li>
                        <li class="nav-item">
                            <a href="member.html" class="nav-link chengyuan" data-toggle="tab" data-target="#tab2">成员</a>
                        </li>
                        <li class="nav-item">
                            <a href="activity.html" class="nav-link huodong active" data-toggle="tab">活动</a>
                        </li>
                        <li class="nav-item">
                            <a href="message.html" class="nav-link xiaoxi" data-toggle="tab">消息</a>
                        </li>
                        <li class="nav-item">
                            <a href="details.html" class="nav-link xiangqing" data-toggle="tab">详情</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</body>
</html>