<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出错啦</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">出错啦!!!</h1>
            <p class="lead" th:text="'错误码:'+${code}">错误码</p>
            <hr class="my-4">
            <p th:text="${message}">服务器忙碌，请稍后再试</p>
            <a class="btn btn-primary btn-lg" href="/index" role="button">返回首页</a>
        </div>
    </div>
</body>
</html>