<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课</title>
    <head th:insert="~{import :: head}"></head>

</head>
<style>
    .cur:hover{
        cursor: pointer;
    }
</style>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div class="container">
        <div class="row"style="height: 150px">
            <div class="col-md-4 col-12">
                <div class="row">
                    <div class="col-12">
<!--                        班课操作多选按钮-->
                        <div class="btn-group offset-md-2 pt-5">
                            <button class="btn btn-primary "data-toggle="dropdown">班课操作</button>
                            <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>

                            <div class="dropdown-menu">
                                <a th:href="@{/create}" class="dropdown-item">创建班课</a>
                                <a th:href="@{/join}" class="dropdown-item">加入班课</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 pt-5">
                <div class="row">
<!--                    搜索框-->
                     <div class="input-group col-9 pr-0">
                         <div class="input-group-prepend">
                             <div class="form-group">
                                 <select class="form-control" id="sel1">
                                     <option>我加入的</option>
                                     <option>我创建的</option>
                                 </select>
                             </div>
                         </div>
                         <input type="text" class="form-control">
                     </div>
                    <div class="col-3 pl-0">
                        <button class="btn btn-secondary">搜索</button>
                    </div>
                 </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 mt-5 mt-sm-0">
<!--                导航条-->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tab1" class="nav-link" data-toggle="tab">我创建的</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active" data-toggle="tab" data-target="#tab2">我加入的</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" id="tab1">
<!--                        我创建的班课卡片列表-->
                        <div class="card-columns">
                            <div class="card cur" style="width: 220px">
                                <img src="img/cloud.png" style="height: 220px" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">教师姓名</h5>
                                    <p class="card-text">课程名</p>
                                    <small class="card-text">教师创建的专业名称</small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade show active" id="tab2">

<!--                        我加入的班课卡片列表-->
                            <div class=" card-columns">
                                <div class="card cur border-primary" style="width: 220px">
                                    <img src="img/cloud.png" style="height: 220px" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">教师姓名</h5>
                                        <p class="card-text">课程名</p>
                                        <small class="card-text">教师创建的专业名称</small>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>