<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-发起活动</title>
    <head th:insert="~{import :: head}"></head>
    <link rel="stylesheet" href="css/fileinput.min.css">
    <script src="js/fileinput.min.js" type="text/javascript"></script>
    <script src="js/zh.js" type="text/javascript"></script>
</head>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:insert="~{classnav::classhead}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white">
            <div class="row">
                <div class="col-12">
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">活动名称</span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                    <ul class="list-group mt-3" id="list">
                        <li class="list-group-item">
                            <p>1</p>
                            <span> 请输入题干</span>
                            <textarea name="" id="" class="form-control" cols="30" rows="3"></textarea>
                            <span>图片</span>
                            <input type="file" class="file-loading fl">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">A</span>
                                </div>
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">设为正确答案</span>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="checkbox">
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">B</span>
                                </div>
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">设为正确答案</span>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="checkbox">
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">C</span>
                                </div>
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">设为正确答案</span>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="checkbox">
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">D</span>
                                </div>
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">设为正确答案</span>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="checkbox">
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">分值</span>
                                </div>
                                <input type="number" class="form-control">
                            </div>
                            <p>解析</p>
                            <textarea name="" cols="30" rows="3" class="form-control"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">活动持续</span>
                        </div>
                        <input type="number" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">天</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-primary" id="append">添加题目</button>
                    <button class="btn btn-danger" id="delete">移除题目</button>
                    <button class="btn btn-success" data-toggle="modal" data-target="#fabu">发布活动</button>
                </div>
            </div>
        </div>
    </div>
<!--    是否发布活动-->
    <div class="modal fade" tabindex="-1" id="fabu" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    确定要发布活动吗?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    /* 单机li进行页面跳转 */
    $(".navclass").click(function(){
        /!*当前标签下的a标签*!/
        var obj = $(this).children("a");
        /!*获取第一个a标签，进行跳转*!/
        window.location.href=$(obj[0]).attr("href");
    });
    $(document).ready(function() {
        $(".fl").fileinput({
            showUpload: false,
            dropZoneEnabled: false,
            maxFileCount: 1,
            mainClass: "input-group-lg",
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showRemove :true,//显示一处按钮
            language: 'zh', //设置语言
            maxFileSize: 1024//文件大小
        });
    });
    var tihao=2;
    var len=1
    $('#append').click(function () {
        $('#list').append(
            '                        <li class="list-group-item">\n' +
            '                            <p>'+tihao+'</p>\n' +
            '                            <span> 请输入题干</span>\n' +
            '                            <textarea name="" id="" class="form-control" cols="30" rows="3"></textarea>\n' +
            '                            <span>图片</span>\n' +
            '                            <input type="file" class="file-loading fl">\n' +
            '                            <div class="input-group mt-3">\n' +
            '                                <div class="input-group-prepend">\n' +
            '                                    <span class="input-group-text">A</span>\n' +
            '                                </div>\n' +
            '                                <input type="text" class="form-control">\n' +
            '                                <div class="input-group-append">\n' +
            '                                    <span class="input-group-text">设为正确答案</span>\n' +
            '                                </div>\n' +
            '                                <div class="input-group-append">\n' +
            '                                    <div class="input-group-text">\n' +
            '                                        <input type="checkbox">\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '\n' +
            '                            <div class="input-group mt-2">\n' +
            '                                <div class="input-group-prepend">\n' +
            '                                    <span class="input-group-text">B</span>\n' +
            '                                </div>\n' +
            '                                <input type="text" class="form-control">\n' +
            '                                <div class="input-group-append">\n' +
            '                                    <span class="input-group-text">设为正确答案</span>\n' +
            '                                </div>\n' +
            '                                <div class="input-group-append">\n' +
            '                                    <div class="input-group-text">\n' +
            '                                        <input type="checkbox">\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '\n' +
            '                            <div class="input-group mt-2">\n' +
            '                                <div class="input-group-prepend">\n' +
            '                                    <span class="input-group-text">C</span>\n' +
            '                                </div>\n' +
            '                                <input type="text" class="form-control">\n' +
            '                                <div class="input-group-append">\n' +
            '                                    <span class="input-group-text">设为正确答案</span>\n' +
            '                                </div>\n' +
            '                                <div class="input-group-append">\n' +
            '                                    <div class="input-group-text">\n' +
            '                                        <input type="checkbox">\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '\n' +
            '                            <div class="input-group mt-2">\n' +
            '                                <div class="input-group-prepend">\n' +
            '                                    <span class="input-group-text">D</span>\n' +
            '                                </div>\n' +
            '                                <input type="text" class="form-control">\n' +
            '                                <div class="input-group-append">\n' +
            '                                    <span class="input-group-text">设为正确答案</span>\n' +
            '                                </div>\n' +
            '                                <div class="input-group-append">\n' +
            '                                    <div class="input-group-text">\n' +
            '                                        <input type="checkbox">\n' +
            '                                    </div>\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '                            <p>解析</p>\n' +
            '                            <textarea name="" cols="30" rows="3" class="form-control"></textarea>\n' +
            '                        </li>'
        );
        tihao++
        len++;
        $(".fl").fileinput({
            showUpload: false,
            dropZoneEnabled: false,
            maxFileCount: 1,
            mainClass: "input-group-lg",
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showRemove :true,//显示一处按钮
            language: 'zh', //设置语言
            maxFileSize: 1024//文件大小
        });
    });
    $('#delete').click(function () {
        if (len>1){
            $('#list li').last().remove();
            len--;
            tihao--
        } else {
            alert("题目数不能少于1");
        }

    });
</script>
</html>