<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-发起活动</title>
    <head th:insert="~{import :: head}"></head>
    <link rel="stylesheet" href="css/fileinput.min.css">
    <script src="js/fileinput.min.js" type="text/javascript"></script>
    <script src="js/zh.js" type="text/javascript"></script>
</head>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:insert="~{classnav::classhead}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white">
            <div class="row">
                <div class="col-12">
                    <form action="" id="form">
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">活动名称</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <span>请输入题目描述</span>
                        <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                        <p>题目相关文件</p>
                        <input type="file" class="file-loading" id="input">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">分值</span>
                            </div>
                            <input type="number" class="form-control">
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">活动持续</span>
                            </div>
                            <input type="number" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">天</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#fabu">发起活动</button>
                </div>
            </div>
        </div>
    </div>
    <!--    是否发布活动-->
    <div class="modal fade" tabindex="-1" id="fabu" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    确定要发布活动吗?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" type="submit" form="form">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $("#input").fileinput({
            showUpload: false,
            dropZoneEnabled: false,
            maxFileCount: 1,
            mainClass: "input-group-lg",
            //allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showRemove :true,//显示一处按钮
            language: 'zh', //设置语言
            maxFileSize: 1024*10//文件大小
        });
    });
    $(".navclass").click(function(){
        /!*当前标签下的a标签*!/
        var obj = $(this).children("a");
        /!*获取第一个a标签，进行跳转*!/
        window.location.href=$(obj[0]).attr("href");
    });
</script>
</html>