<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-成员列表</title>
    <head th:insert="~{import :: head}"></head>
</head>
<style>
    .stu{
        height: 210px;
    }
    @media (min-width: 749px){
        .stu{
            height: 430px;
        }
    }
    #newList li:hover{
        cursor: pointer;
    }
</style>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:insert="~{classnav::classhead}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white" th:if="${message}">
            <div class="row pl-4 pt-3">班课成员</div>
            <hr>
            <div class="row">
                <div class="col-12 col-md-4 stu" style="overflow: auto">
                    <input class="form-control" id="demo" type="text" placeholder="搜索">

                    <!-- 中部对齐 -->
<!--                    <div class="media bg-light">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object img-thumbnail" src="img/people.png" alt="" style="height: 60px;width: 60px">
                            </a>
                        </div>
                        <div class="media-body ml-3">
                            <h4 class="media-heading">姓名</h4>
                            学号
                        </div>
                    </div>-->
<!--                    学生列表-->
                    <ul class = "list-group" id = "newList">
                        <li class = "list-group-item bg-light" th:each="list,listCount:${memberDTO.users}">
                            <a th:href="@{'/member/'+${cid}+'/'+${teacherid}+'/'+${list.uid}}"></a>
                            <div class="media">
                                    <div class="media-left media-middle"><span th:text="${listCount.count}"></span>
                                        <img class="media-object img-thumbnail" th:src="${list.imgUrl}" alt="" style="height: 60px;width: 60px">
                                    </div>
                                    <div class="media-body ml-3">
                                        <h4 class="media-heading" th:text="${list.userName}">姓名</h4>
                                        <span th:text="${list.userNumber}"></span>
                                    </div>
                                </div>
                        </li>
             <!--           <li class = "list-group-item">
                            <div class="media">
                                <div class="media-left media-middle">2
                                    <a href="#">
                                        <img class="media-object img-thumbnail" src="img/people.png" alt="" style="height: 60px;width: 60px">
                                    </a>
                                </div>
                                <div class="media-body ml-3">
                                    <h4 class="media-heading">姓名</h4>
                                    学号
                                </div>
                            </div>
                        </li>-->
                    </ul>
                </div>
                <div class="col-12 col-md-8 bg-white" style="height: 430px">
                    <div class="row">
                        <div class="col-12">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="#">
                                        <img class="media-object img-thumbnail" th:src="${memberDTO.user.imgUrl}" alt="" style="height: 60px;width: 60px">
                                    </a>
                                </div>
                                <div class="media-body ml-3">
                                    <h4 class="media-heading" th:text="${memberDTO.user.userName}">姓名</h4>
                                    <span th:text="'学号:'+${memberDTO.user.userNumber}">学号</span>
                                    <span class="ml-5" th:text="'成绩:'+${memberDTO.score}">成绩</span>
                                    <!--<a href="grade.html">成绩明细</a>-->
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>学习情况</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="/img/signin.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">签到</h4>
                                    <p class="card-text text-right">有效签到<span th:text="${memberDTO.completeSignIn}"></span>次</p>
                                    <p class="card-text text-right">签到发起<span th:text="${memberDTO.totalSignIn}"></span>次</p>
                                    <p class="card-text">进度</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" th:attr="aria-valuenow=${memberDTO.signInProgress}" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${memberDTO.signInProgress}+'%'">
                                            <span th:text="${memberDTO.signInProgress}+'%'"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="/img/activity.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">活动</h4>
                                    <p class="card-text text-right">活动参与<span th:text="${memberDTO.completeActivity}"></span>次</p>
                                    <p class="card-text text-right">活动发起<span th:text="${memberDTO.totalActivity}"></span>次</p>
                                    <p class="card-text">进度</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" th:attr="aria-valuenow=${memberDTO.activityProgress}" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${memberDTO.activityProgress}+'%'">
                                            <span th:text="${memberDTO.activityProgress}+'%'"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="/img/downloadresource.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">资源</h4>
                                    <p class="card-text text-right">资源查看<span th:text="${memberDTO.downloadResources}"></span>次</p>
                                    <p class="card-text text-right">资源总数<span th:text="${memberDTO.totalResources}"></span></p>
                                    <p class="card-text">进度</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" th:attr="aria-valuenow=${memberDTO.resourceProgress}" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${memberDTO.resourceProgress}+'%'">
                                            <span th:text="${memberDTO.resourceProgress}+'%'"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bg-white" th:unless="${message}">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex justify-content-center">
                        <img src="/img/nomember.png" alt="" style="height: 350px;width: 350px">
                    </div>
                    <h5>还没有任何成员加入</h5>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        $('.chengyuan').addClass("active");
        $('.huodong').removeClass("active");

        /* 单机li进行页面跳转 */
        $("ul li").click(function(){
            /*当前标签下的a标签*/
            var obj = $(this).children("a");
            /*获取第一个a标签，进行跳转*/
            window.location.href=$(obj[0]).attr("href");
        });
    });

    $(document).ready(function(){
        $("#demo").on("keyup", function() {
            var value = $(this).val().toLowerCase();//把字符转换为小写
            $("#newList li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</html>