<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-查看榜单</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:insert="~{ classnav::classhead}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white">
            <div class="row">
                <div class="col-12">
                    <h4 class="mt-3" th:text="${activityName}">活动名称</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <a href="">查看统计分析</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>排名</th>
                                <th>姓名</th>
                                <th>学号</th>
                                <th>分数</th>
                                <th>提交时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ranking,rankingCount:${rankings}">
                                <td th:text="${rankingCount.count}">1</td>
                                <td th:text="${ranking.userName}">姓名</td>
                                <td th:text="${ranking.userNumber}">111111111111</td>
                                <td th:text="${ranking.score}">5</td>
                                <td th:text="${#dates.format(ranking.partiTime,'yyyy-MM-dd')}">提交时间</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12" th:if="${isnull}">
                    <div class="d-flex justify-content-center">
                        <img src="/img/noranking.png" style="width: 350px;height: 350px">
                    </div>
                    <div class="text-center">
                        <h5>暂无提交记录</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>