<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-班课资源</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:insert="~{ classnav::classhead}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white" th:if="${message}">
            <div class="row" style="height: 150px">
                <div class="col-8 pr-0 offset-2">
                    <input type="text" class="form-control mt-5 mr-0" id="search" placeholder="根据资源信息搜索">
                </div>
            </div>
            <div class="row">
                <div class="col-12" >
                    <ul class="list-group" id="newList">
                        <li class="mt-1 list-group-item" th:each="resource:${resources}">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="/img/resources.png" alt="" class="mr-3 img-thumbnail mt-2 ml-2" width="60" height="60">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0" th:text="${resource.resourceName}">资源名称</h5>
                                    <span th:text="${'文件大小:'+#numbers.formatDecimal(resource.resourceSize/1024.0/1024.0,1,2)}+'MB'">文件大小</span>
                                    <span class="ml-3" th:text="${'上传时间:'+#dates.format(resource.uploadTime,'yyyy-MM-dd')}">发布时间</span>
                                    <a th:href="@{${resource.resourceUrl}}">
                                        <button class="btn btn-primary btn-sm ml-3">下载文件</button>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container bg-white" th:unless="${message}">
            <div class="col-12 text-center" >
                <div class="d-flex justify-content-center">
                    <img src="/img/noresources.png" style="width: 350px;height: 350px">
                </div>
                <h5>没有任何资源</h5>
            </div>
        </div>

    </div>

</body>
<script>
    $(function () {
        $('.ziyuan').addClass("active");
        $('.huodong').removeClass("active");

        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#newList li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</html>