<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-班课资源</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div th:insert="~{ classnav::classhead}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white">
            <div class="row" style="height: 150px">
                <div class="col-7 pr-0 offset-2">
                    <input type="text" class="form-control mt-5 mr-0" placeholder="根据资源名称搜索">
                </div>
                <div class="col-3 pl-0 mt-5">
                    <button class="btn btn-secondary">搜索</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-group " >
                        <li class="mt-1 list-group-item" >
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="img/resources.png" alt="" class="mr-3 img-thumbnail mt-2 ml-2" width="60" height="60">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0">资源名称</h5>
                                    <span>文件大小</span>
                                    <span class="ml-3">发布时间</span>
                                    <button class="btn btn-primary btn-sm ml-3">下载文件</button>
                                </div>
                                <a href="www.baidu.com"></a>
                            </div>
                        </li>
                        <li class="media mt-1 list-group-item">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="img/resources.png" alt="" class="mr-3 img-thumbnail mt-2 ml-2" width="60" height="60">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0">活动名称</h5>
                                    <span>文件大小</span>
                                    <span class="ml-3">发布时间</span>
                                    <button class="btn btn-primary btn-sm ml-3">下载文件</button>
                                </div>
                                <a href="www.baidu.com"></a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $(function () {
        $('.ziyuan').addClass("active");
        $('.huodong').removeClass("active");

        $("ul li").click(function(){
            /*当前标签下的a标签*/
            var obj = $(this).children("a");
            /*获取第一个a标签，进行跳转*/
            window.location.href=$(obj[0]).attr("href");
        });
    });
</script>
</html>