<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上班课-用户信息</title>
    <head th:insert="~{import :: head}"></head>
</head>
<style>
    .userimg{
        height: 170px;
    }
    @media (min-width: 749px){
        .userimg{
            height: 400px;
        }
    }
</style>
<body>
    <div th:insert="~{navigation::nav}"></div>
    <div class="container-fluid bg-light">
        <div class="container bg-white">
            <div class="row">
                <div class="col-12 bg-light"style="height: 50px"></div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <h4 class="mt-3">用户信息</h4>
                        <button class="btn btn-outline-primary mt-3">编辑</button>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4 userimg d-flex justify-content-center" style="border-right:1px solid #777777">
                            <img th:src="${userInfo.imgUrl}" alt="" class="img-thumbnail mt-5 ml-5 " style="height: 150px;width: 150px">
                        </div>
                        <div class="col-md-8 col-12 mt-5">
                            <div class="row">
                                <div class="col-4 text-right">
                                    <p>账号:</p>
                                </div>
                                <div class="col-4">
                                    <p th:text="${userInfo.email}">账号</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <p>姓名:</p>
                                </div>
                                <div class="col-4">
                                    <p th:text="${userInfo.userName}">姓名</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <p>出生年份:</p>
                                </div>
                                <div class="col-4">
                                <p th:text="${userInfo.birthday}">出生年份</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <p>工号/学号:</p>
                                </div>
                                <div class="col-4">
                                <p th:text="${userInfo.userNumber}">工号/学号</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <p>所在的院系:</p>
                                </div>
                                <div class="col-4">
                                    <p th:text="${userInfo.school}">所在的院系</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <p>所在的学校:</p>
                                </div>
                                <div class="col-4">
                                    <p th:text="${userInfo.collegeDepartment}">所在的学校</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>